@import url('https://fonts.googleapis.com/css?family=Poppins: 100,200,300,400,500,600,700,800,900');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
}

.container {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
	width: 100%;
	padding: 30px 50px;
	background: radial-gradient(circle, rgba(58,86,159,1) 29%, rgba(2,51,116,1) 98%);
	z-index: 2;
}

.wrap {
	width: 70%;
	height: 600px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.logo a {
	font-size: 1em;
	color: #fff;
	font-weight: 300;
	text-decoration: none;
	margin: 0 10px;
	transition: 0.3s;
}

.logo a:hover {
	color: #d5d5d5;
}

.right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.img-circle {
	position: relative;
	width: 345px;
	height: 345px;
	border-radius: 50%;
	display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img-circle::before {
	content: '';
	position: absolute;
	inset: -20px 0px;
	background: linear-gradient(325deg, #F4970B, #1BA1ED);
	transition: 0.5s;
	animation: animate 4s linear infinite;
	z-index: 1;
}

.img-circle:hover::before {
	inset: -10px 140px;
}

@keyframes animate
{
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.img-circle::after {
	content: '';
	position: absolute;
	inset: 6px;
	background: #fff;
	border-radius: 50%;
}

.img-circle img {
	width: 330px;
	height: 330px;
	border-radius: 50%;
	z-index: 2;
}

.content {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 100%;
	width: 50%;
	text-align: left;
}

.content-box h2 {
	color: #fff;
	font-size: 2em;
	font-weight: 500;
}

.content-box h1 {
	color: #fff;
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 35px;
    line-height: 40px;
}

.text-project h2 {
	color: #333;
	font-size: 2em;
	font-weight: 600;
}

.text-project p {
	color: #333;
    font-size: 1em;
    font-weight: 500;
}

.content-box a {
	font-size: 1em;
	color: #fff;
	font-weight: 600;
	padding: 10px 20px;
	background: #215ab3;
	border-radius: 19px;
	margin: 10px 0;
	text-decoration: none;
	position: relative;
	z-index: 1;
	transition: 0.5s;
	transform-origin: left;
}

.content-box a:hover {
	background: #fff;
	color: #215ab3;
}


.sci {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: start;
}

.sci li {
	list-style: none;
}

.sci li a {
	font-size: 2em;
	text-decoration: none;
	color: #fff;
	margin: 0 10px;
}

.text-animation {
  animation: typing 3s steps(40, end);
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #fff;
}

.projects {
    width: 100%;
    height: 100%;
    padding: 30px 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: #f6f6f6;
    align-items: baseline;
}


.text-project {
    position: relative;
    z-index: 1;
}

.image-wrap {
  width: 100%;
  height: 100%;
  /*display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 3rem;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.card {
	width: 420px;
	height: 235px;
	margin: 30px;
	background: #ccc;
	border-radius: 19px;
	box-shadow: 0 5px 30px rgba(0,0,0,0.3);
}

.card:nth-child(2),
.card:nth-child(4){	
	width: 130px;
	height: 260px;
}

.card img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	    border-radius: 19px;
}

@keyframes typing {
  from { width: 0 }
}

footer {
	padding: 10px;
	text-align: center;
	background: #323232;
}

footer p {
	color: #fff;
	font-weight: 600;
	font-size: 1em;
}
